@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF4F18;
  --secondary-color: #F2F4F7;
  --tertiary-color: #141517;
  --accent-color: #FF8F00;
  --btn-primary: #f55a2b;
  --btn-secondary: #f37650;
  --primary-text: #000;
  --secondary-text: #FF4F18;
}
