@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ff4f18;
  --secondary-color: #f5efeb;
  --tertiary-color: #041E42;
  --accent-color: #ff8f00;
  --btn-primary: #f55a2b;
  --btn-secondary: #f37650;
  --primary-text: #000;
  --secondary-text: #ff4f18;
}
